@import "https://picostitch.com/_global.css";
@import "https://picostitch.com/_nav.css";

main {
  max-width: 60rem;
}

/* Basically picostitch style overrides ... if this gets too much move the styles here. */
nav {
  display: flex;
  margin-bottom: 2rem;
}
  nav * {
    flex: 1;
  }
  nav :nth-child(2) {
    text-align: center;
  }
  nav :last-child {
    text-align: right;
  }
